UI-MVC/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50176/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SC.BL.Domain" />
  <xs:element name="GetTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SC.BL.Domain" minOccurs="0" name="GetTicketResponseResult" nillable="true" type="q1:ArrayOfTicketResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>